<% locals.leftItem = 'documents' %>
<% include header %>
<section class="box span12 info-index user-index">
    <div class="box-header">
        <h2><%= title %></h2>
    </div>
    <div class="box-content">
        <div class="markdown-body">
            <%- doc %>
        </div>
    </div>
</section>
<% include footer %>